
%links_extended {
color: white;

    padding: 7px 20px 10px;
    text-decoration: none;
    font-weight: 400;
    overflow: hidden;
  }

  %buttons_extended {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,56,198,1) 0%, rgba(0,212,255,1) 100%);
    padding: 10px 25px;
    border-radius: 35px;
    font-weight: 500;
    text-decoration: none ;
    color: white;
    font-weight: 400;
  }